<geoaudit-sidebar-header
  title="CONTAINERS.home.abrioxes.abriox_action.title"
  [placeholder]=""
>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'CONTAINERS.home.jobs.job.status' | translate }}</mat-label>
    <mat-select
      statusControlName="status"
      name="status"
      [(value)]="currentState"
    >
      <mat-option *ngFor="let status of statuses" [value]="status.id">
        {{ 'STATUSES.' + status.name | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</geoaudit-sidebar-header>

<mat-tab-group
  mat-align-tabs="start"
  (selectedIndexChange)="selectedIndexChange($event)"
  [(selectedIndex)]="selectedTabIndex"
  class="tab-body-height"
>
  <!-- Details -->
  <mat-tab [label]="'CONTAINERS.home.jobs.job.steps.details' | translate">
    <mat-card-content class="mt-26">
      <form fxLayout="column" [formGroup]="form" (ngSubmit)="submit()">
        <!--Testpost Action-->
        <div fxLayout="column">
          <mat-card
            style="cursor: pointer; margin-bottom: 20px; padding: 8px;"
            fxLayout="row"
            fxLayoutAlign="space-between"
            (click)="searchAbriox()"
          >
            <div>
              {{ getActionTitle() }}
            </div>
            <div fxLayout="row">
              <button
                mat-icon-button
                color="accent"
                aria-label="Example icon button with a plus one icon"
                (click)="searchAbriox()"
              >
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>{{
              'CONTAINERS.home.testposts.tp_action.date' | translate
            }}</mat-label>
            <input
              matInput
              [placeholder]="
                'CONTAINERS.home.testposts.tp_action.date' | translate
              "
              formControlName="date"
              class="form-control"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{
              'CONTAINERS.home.testposts.tp_action.condition' | translate
            }}</mat-label>
            <input
              matInput
              [placeholder]="
                'CONTAINERS.home.testposts.tp_action.condition' | translate
              "
              formControlName="condition"
              class="form-control"
            />
          </mat-form-field>
        </div>

        <div *ngIf="abriox_action && abriox_action.abriox!=null">
          <!--Fault Details-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{
                'CONTAINERS.home.testposts.tp_action.fault.title' | translate
              }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <div formArrayName="faults">
                <div *ngFor="let fault of faults.controls; index as i" [formGroupName]="i" fxLayout="column">
                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      'CONTAINERS.home.testposts.tp_action.fault.type' | translate
                    }}</mat-label>
                    <input
                      matInput
                      [placeholder]="
                        'CONTAINERS.home.testposts.tp_action.fault.type' | translate
                      "
                      formControlName="type"
                      class="form-control"
                    />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      'CONTAINERS.home.notes.description' | translate
                    }}</mat-label>
                    <textarea 
                      matInput
                      formControlName="desc">
                    </textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="tp-bottom">
                <button
                  mat-icon-button
                  color="accent"
                  aria-label="add icon button"
                  inline="true"
                  (click)="addFaults($event)"
                >
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </form>
    </mat-card-content>
  </mat-tab>

  <!-- Attachments -->
  <mat-tab [label]="'CONTAINERS.home.jobs.job.steps.attachments' | translate">
    <mat-card-content>
      <attachment-file-upload
        label="CONTAINERS.home.jobs.job.attachments.images"
        (preview)="onItemPreview($event)"
        (upload)="onImageUpload($event)"
        fileType="IMAGE"
        [items] = "attachedImages"
        [multiple]="true"
      ></attachment-file-upload>

      <attachment-file-upload
        label="CONTAINERS.home.jobs.job.attachments.documents"
        (preview)="onItemPreview($event)"
        (upload)="onDocumentUpload($event)"
        fileType="DOCUMENT"
        [items] = "attachedDocuments"
        [multiple]="true"
      ></attachment-file-upload>
    </mat-card-content>
  </mat-tab>

  <!-- Notes -->
  <mat-tab [label]="'CONTAINERS.home.jobs.job.steps.notes' | translate">
    <mat-card-content>
      <geoaudit-notes></geoaudit-notes>
    </mat-card-content>
  </mat-tab>
</mat-tab-group>

<div fxLayout="row-reverse" fxLayoutAlign="space-between" class="button-area">
  <div class="button-wrapper">
    <button
      *ngIf="selectedTabIndex != 3"
      mat-icon-button
      color="accent"
      (click)="selectedIndexChange(selectedTabIndex + 1)"
      class="btn-arrow"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <button
    mat-flat-button
    color="primary"
    (click)="submit()"
    type="submit"
    class="btn-submit"
  >
    {{ 'CONTAINERS.home.jobs.job.form.save' | translate }}
  </button>
  <div class="button-wrapper">
    <button
      *ngIf="selectedTabIndex != 0"
      mat-icon-button
      color="accent"
      (click)="selectedIndexChange(selectedTabIndex - 1)"
      class="btn-arrow"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
</div>
