<geoaudit-sidebar-header
  title="CONTAINERS.home.survey.add_survey.title"
></geoaudit-sidebar-header>

<mat-horizontal-stepper (selectionChange)="selectionChange($event)">
    <mat-step
      [completed]="isStep1Completed()"
      [optional]="false"
    >
    <mat-card-content>
        <form fxLayout="column" [formGroup]="form" (ngSubmit)="submit()">

            <!-- <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [(ngModel)]="newJob"
            [disabled]="false"
        >
          {{ 'CONTAINERS.home.survey.new_job' | translate }}
        </mat-slide-toggle>

        <br> -->

        <!-- <mat-form-field appearance="outline" *ngIf="!newJob">
            <mat-label>{{ 'CONTAINERS.home.survey.job' | translate }}</mat-label>
            <mat-select formControlName="job" name="job">
              <mat-option>
                My Job
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field appearance="outline">
            <mat-label>{{ 'CONTAINERS.home.survey.status' | translate }}</mat-label>
            <mat-select formControlName="status" name="status">
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{
                    'STATUSES.' + status | translate
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p>Selected status: {{ form.value.status }}</p>
        </form>
      </mat-card-content>
    </mat-step>

    <mat-step
      [editable]="false"
      [completed]="isStep2Completed()"
    >
    </mat-step>

    <mat-step
      [editable]="false"
      [completed]="isStep3Completed()"
    >
    </mat-step>

    <mat-step
      [editable]="false"
      [completed]="isStep4Completed()"
    >
    </mat-step>

    <mat-step
      [editable]="false"
      [completed]="isStep5Completed()"
    >
    </mat-step>

    <mat-step
      [editable]="false"
      [completed]="isStep6Completed()"
    >
    </mat-step>
</mat-horizontal-stepper>
