.file-upload-container {

    justify-content: space-between;

    .icon {
        margin-right: 32px;
        font-size: 6vmin;
    }

    .title {
        font-weight: bold;
    }
}

.attach-icon {
    color: #606060;
}