<geoaudit-sidebar-header
  title="CONTAINERS.home.jobs.job.overview.title"
  [(reference)]= selectedReference
> 
  <mat-form-field appearance="outline">
    <mat-label>{{
      'CONTAINERS.home.jobs.job.status' | translate
    }}</mat-label>
    <mat-select 
      statusControlName="status" 
      name="status" 
      (selectionChange)="onChangeState()"
      [(value)]="currentState">
      <mat-option *ngFor="let status of statuses" [value]="status.id">
        {{ 'STATUSES.' + status.name | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</geoaudit-sidebar-header>

<mat-tab-group mat-align-tabs="start"
  (selectedIndexChange)="selectedIndexChange($event)"
  [(selectedIndex)]="selectedTabIndex"
  class="tab-body-height"
  >
  <!-- Details -->
  <mat-tab
    [label]="'CONTAINERS.home.jobs.job.steps.details' | translate"
  >
    <mat-card-content class="mt-26">
      <form fxLayout="column" [formGroup]="form" (ngSubmit)="submit()">
        <!-- <mat-form-field appearance="outline">
          <mat-label>{{
            'CONTAINERS.home.jobs.job.status' | translate
          }}</mat-label>
          <mat-select formControlName="status" name="status">
            <mat-option *ngFor="let status of statuses" [value]="status.id">
              {{ 'STATUSES.' + status.name | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label>{{
            'CONTAINERS.home.jobs.job.form.reference' | translate
          }}</mat-label>
          <input
            matInput
            [placeholder]="
              'CONTAINERS.home.jobs.job.form.reference' | translate
            "
            formControlName="reference"
            class="form-control"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            'CONTAINERS.home.jobs.job.form.name' | translate
          }}</mat-label>
          <input
            matInput
            [placeholder]="'CONTAINERS.home.jobs.job.form.name' | translate"
            formControlName="name"
            class="form-control"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            'CONTAINERS.home.jobs.job.form.job_type' | translate
          }}</mat-label>
          <mat-select formControlName="job_type" name="job_type">
            <mat-option *ngFor="let jobType of jobTypes" [value]="jobType.id">
              {{ 'JOB_TYPES.' + jobType.name | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-chip-list" appearance="outline">
          <mat-label>
            {{ 'CONTAINERS.home.jobs.job.form.assignees' | translate }}
          </mat-label>
          <mat-chip-list #chipList aria-label="Assignee selection">
            <mat-chip
              *ngFor="let user of users"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(user)"
            >
              {{ user.username }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              [placeholder]="
                'CONTAINERS.home.jobs.job.form.new_assignee' | translate
              "
              #userInput
              [formControl]="userControl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option *ngFor="let user of filteredUsers" [value]="user">
              {{ user.username }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-tab>

  <!-- Attachments -->
  <mat-tab
    [label]="'CONTAINERS.home.jobs.job.steps.attachments' | translate"
  >
    <mat-card-content>
      <attachment-file-upload
        label="CONTAINERS.home.jobs.job.attachments.images"
        (preview)="onItemPreview($event)"
        (upload)="onImageUpload($event)"
        fileType="IMAGE"
        [items] = "attachedImages"
        [multiple]="true"
      ></attachment-file-upload>

      <attachment-file-upload
        label="CONTAINERS.home.jobs.job.attachments.documents"
        (preview)="onItemPreview($event)"
        (upload)="onDocumentUpload($event)"
        fileType="DOCUMENT"
        [items] = "Documents"
        [multiple]="true"
      ></attachment-file-upload>
    </mat-card-content>
  </mat-tab>

  <!-- Surveys -->
  <mat-tab fxFlexFill
    [label]="'CONTAINERS.home.jobs.job.steps.surveys' | translate"
  >
     <mat-card-content>
      <div class="progress-chart" *ngIf="selectedTabIndex == 2 && chartSeries">
        <geoaudit-progress-chart 
          [series]="chartSeries"
        >
        </geoaudit-progress-chart>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column">
          <h3>Surveys</h3>
        </div>
      </div>
      <!-- Reusable survey table component -->
      <geoaudit-survey-table
        [filterMode]="'LOCAL'"
        [dataSource]="dataSource"
        [pageSize]="pageSize"
        (onDelete)="delete($event)"
        [job]="job"
      ></geoaudit-survey-table>
         
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Survey</mat-label>
        <input
          matInput
          aria-label="Survey"
          [matAutocomplete]="autoSurvey"
          [formControl]="surveyCtrl"
          #surveyInput
        />
        <mat-autocomplete
          #autoSurvey="matAutocomplete"
          (optionSelected)="onSurveySelect($event)"
        >
          <mat-option *ngFor="let survey of filteredSurveys" [value]="survey">
            <span>{{ survey.reference }}</span> |
            <small>ID: {{ survey.id }}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card-content>
    <!-- <geoaudit-status-buttons
      [completed] = "completed"
      [approved] = "false"
      (completeEvent)="complete($event)"
    ></geoaudit-status-buttons> -->
  </mat-tab>

  <mat-tab [label]="'CONTAINERS.home.jobs.job.steps.notes' | translate">
    <mat-card-content>
      <geoaudit-notes></geoaudit-notes>
    </mat-card-content>
  </mat-tab>
</mat-tab-group>

<div fxLayout="row-reverse" fxLayoutAlign="space-between" class="button-area">
  <div class="button-wrapper">
    <button *ngIf="selectedTabIndex != 3" mat-icon-button color="accent" (click)="selectedIndexChange(selectedTabIndex + 1)" class="btn-arrow">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  
  <button
    mat-flat-button
    color="primary"
    (click)="submit()"
    type="submit"
    class="btn-submit"
  >
    {{ 'CONTAINERS.home.jobs.job.form.save' | translate }}
  </button>
  <div class="button-wrapper">
    <button *ngIf="selectedTabIndex != 0" mat-icon-button color="accent" (click)="selectedIndexChange(selectedTabIndex - 1)" class="btn-arrow">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
</div>
  

