<geoaudit-sidebar-header
  title="CONTAINERS.home.jobs.job.title"
></geoaudit-sidebar-header>

<mat-card-content>
  <form fxLayout="column" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'CONTAINERS.home.jobs.job.status' | translate }}</mat-label>
      <mat-select formControlName="status" name="status">
        <mat-option *ngFor="let status of statuses" [value]="status.id">
          {{ 'STATUSES.' + status.name | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <input
          matInput
          [placeholder]="'CONTAINERS.home.jobs.job.form.name' | translate"
          formControlName="name"
          class="form-control"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input
          matInput
          [placeholder]="'CONTAINERS.home.jobs.job.form.reference' | translate"
          formControlName="reference"
          class="form-control"
        />
      </mat-form-field>
</form>
</mat-card-content>
