.mt-26 {
    margin-top: 26px;
}

.button-area{
    position: absolute;
    width: 92%;
    bottom: 5px;
    z-index:1;
}

.btn-submit{
    width: 60%;
}

.btn-prev{
    display: flex;
    justify-content: left;
}

.btn-next{
    display: flex;
    justify-content: right;
}

.btn-prev .mat-icon{
    font-size: 42px;

}
.btn-next .mat-icon{
    font-size: 42px;
}
.progress-chart {
    margin-left: -20px;
    margin-top: -28px!important;    
}