<geoaudit-sidebar-header
  title="CONTAINERS.home.jobs.job.overview.title"
></geoaudit-sidebar-header>

<geoaudit-card-button title="CONTAINERS.home.jobs.job.cards.details" text="" icon="details" (onClick)="details()"></geoaudit-card-button>

<geoaudit-card-button title="CONTAINERS.home.jobs.job.cards.assets" text="" icon="web_asset" (onClick)="assets()"></geoaudit-card-button>

<geoaudit-card-button title="CONTAINERS.home.jobs.job.cards.surveys" text="" icon="backpack" (onClick)="surveys()"></geoaudit-card-button>