<geoaudit-sidebar-header
  title="CONTAINERS.home.testposts.testpost.title"
  [placeholder]="form?.value?.reference"
>
  <!-- <mat-icon
    *ngIf="true"
    style="background-color: #0074d9; color: #0074d9; border-radius: 15px"
    >radio_button_unchecked</mat-icon
  > -->
  <geoaudit-icon [visible]="true" [color]="getLatestConditionColour()" icon="radio_button_unchecked"></geoaudit-icon>
</geoaudit-sidebar-header>

<mat-horizontal-stepper>
  <!-- Details -->
  <mat-step [label]="'CONTAINERS.home.testposts.testpost.details' | translate">
    <form [formGroup]="form">
      <!-- Reference -->
      <mat-form-field appearance="outline">
        <mat-label>{{
          'CONTAINERS.home.testposts.testpost.reference' | translate
        }}</mat-label>
        <input
          matInput
          [placeholder]="
            'CONTAINERS.home.testposts.testpost.reference' | translate
          "
          formControlName="reference"
          class="form-control"
        />
      </mat-form-field>

      <!-- Name -->
      <mat-form-field appearance="outline">
        <mat-label>{{
          'CONTAINERS.home.testposts.testpost.name' | translate
        }}</mat-label>
        <input
          matInput
          [placeholder]="'CONTAINERS.home.testposts.testpost.name' | translate"
          formControlName="name"
          class="form-control"
        />
      </mat-form-field>

      <!-- Date Installation -->
      <mat-form-field appearance="outline">
        <mat-label>{{
          'CONTAINERS.home.testposts.testpost.date_installation' | translate
        }}</mat-label>
        <input
          matInput
          [ngxMatDatetimePicker]="dateInstallationDateTimePicker"
          [placeholder]="
            'CONTAINERS.home.testposts.testpost.date_installation' | translate
          "
          formControlName="date_installation"
          [min]="minDate"
          [max]="maxDate"
          [disabled]="disabled"
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="dateInstallationDateTimePicker"
        ></mat-datepicker-toggle>

        <ngx-mat-datetime-picker
          #dateInstallationDateTimePicker
          [showSpinners]="showSpinners"
          [showSeconds]="showSeconds"
          [stepHour]="stepHour"
          [stepMinute]="stepMinute"
          [stepSecond]="stepSecond"
          [touchUi]="touchUi"
          [color]="color"
          [enableMeridian]="enableMeridian"
          [disableMinute]="disableMinute"
          [hideTime]="hideTime"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <!-- Manufacture -->
      <mat-form-field appearance="outline">
        <mat-label>{{
          'CONTAINERS.home.testposts.testpost.manufacture' | translate
        }}</mat-label>
        <input
          matInput
          [placeholder]="
            'CONTAINERS.home.testposts.testpost.manufacture' | translate
          "
          formControlName="manufacture"
          class="form-control"
        />
      </mat-form-field>

      <!-- Model -->
      <mat-form-field appearance="outline">
        <mat-label>{{
          'CONTAINERS.home.testposts.testpost.model' | translate
        }}</mat-label>
        <input
          matInput
          [placeholder]="'CONTAINERS.home.testposts.testpost.model' | translate"
          formControlName="model"
          class="form-control"
        />
      </mat-form-field>

      <!-- Manufacture -->
      <mat-form-field appearance="outline">
        <mat-label>{{
          'CONTAINERS.home.testposts.testpost.serial_number' | translate
        }}</mat-label>
        <input
          matInput
          [placeholder]="
            'CONTAINERS.home.testposts.testpost.serial_number' | translate
          "
          formControlName="serial_number"
          class="form-control"
        />
      </mat-form-field>

      <!-- Geo -->
      <div fxLayout="row">
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Lat</mat-label>
            <input
              matInput
              aria-label="Latitude"
              [formControl]="latCtrl"
              #latCtrlInput
            />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Lng</mat-label>
            <input
              matInput
              aria-label="Longtitude"
              [formControl]="lngCtrl"
              #lngCtrlInput
            />
          </mat-form-field>
        </div>

        <div fxLayoutAlign="space-between center">
          <button
            mat-icon-button
            color="accent"
            type="button"
            aria-label="Example icon button with a plus one icon"
            (click)="clickMarker()"
          >
            <mat-icon>location_on</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <!-- Abriox -->
  <mat-step [label]="'CONTAINERS.home.testposts.testpost.abriox' | translate">
    <mat-card
      *ngIf="abriox"
      style="cursor: pointer; margin-top: 20px"
      fxLayout="row"
      fxLayoutAlign="space-between"
      [routerLink]="'/home/abrioxes/' + abriox.id"
    >
      <!-- <mat-card-header> -->
      <div fxLayout="column">
        <p>{{ abriox.date_installation | date: 'HH:mm dd/MM/yyyy' }}</p>
        <p *ngIf="abriox.name">
          <em>{{ abriox.name | slice: 0:100 }} </em
          ><span *ngIf="abriox.name?.length >= 10">...</span>
        </p>

        <div fxLayout="row"></div>
      </div>

      <button
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a plus one icon"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-card>
    <div fxLayout="row-reverse">
      <button mat-flat-button fxFlexFill color="primary" (click)="addAbriox()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-step>

  <!-- Attachments -->
  <mat-step
    [label]="'CONTAINERS.home.testposts.testpost.attachments' | translate"
  >
    <geoaudit-file-upload
      label="CONTAINERS.home.jobs.job.attachments.images"
      (preview)="onPreview($event)"
      (upload)="onImageUpload($event)"
      fileType="IMAGE"
      [multiple]="true"
    ></geoaudit-file-upload>

    <geoaudit-file-upload
      label="CONTAINERS.home.jobs.job.attachments.documents"
      (preview)="onPreview($event)"
      (upload)="onDocumentUpload($event)"
      fileType="DOCUMENT"
      [multiple]="true"
    ></geoaudit-file-upload>
  </mat-step>

  <!-- Actions -->
  <mat-step [label]="'CONTAINERS.home.testposts.testpost.actions' | translate">

    <mat-card *ngFor="let tp_action of tp_actions" style="cursor: pointer; margin-top: 20px" [routerLink]="'/home/tp_actions/' + tp_action.id">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <p>{{ tp_action.created_at | date: 'HH:mm dd/MM/yyyy' }}</p>
        <geoaudit-icon [visible]="true" [color]="getConditionColour(tp_action.condition.id)" icon="radio_button_unchecked"></geoaudit-icon>

        <img
        *ngIf="getSurvey(tp_action.survey.id)?.conducted_by?.avatar"
        mat-card-avatar
        [src]="API_URL + getSurvey(tp_action.survey.id).conducted_by?.avatar.url"
      />
      <img
        *ngIf="!getSurvey(tp_action.survey.id)?.conducted_by?.avatar"
        mat-card-avatar
        src="https://bestoked.ams3.digitaloceanspaces.com/geoaudit/static/assets/Avatar%20-%20Geoaudit.png"
      />

      <p>{{ getSurvey(tp_action.survey.id)?.reference }}</p>

      <button
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a plus one icon"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
      </div>
    </mat-card>
  </mat-step>

  <!-- Notes -->
  <mat-step [label]="'CONTAINERS.home.testposts.testpost.notes' | translate">
    <geoaudit-notes></geoaudit-notes>
  </mat-step>
</mat-horizontal-stepper>
