.profile-wapper {
    text-align: center;

    .profile-image {
        margin-top: 40px;
    }

    .profile-menu{
        position: absolute;
        top: 60px;
        right: 40px;
        z-index: 1001;
    }
}