<geoaudit-sidebar-header title="CONTAINERS.home.to_do_list.title"></geoaudit-sidebar-header>

<geoaudit-sidebar-actions>
    <button mat-icon-button matTooltip="hello" color="accent" aria-label="assignement icon button" (click)="calendar()">
        <mat-icon>assignment_turned_in</mat-icon>
      </button>

      <button mat-icon-button color="accent" aria-label="drive icon button" (click)="calendar()">
        <mat-icon>drive_eta</mat-icon>
      </button>

      <button mat-icon-button color="accent" aria-label="delete icon button" (click)="calendar()">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-icon-button color="accent" aria-label="add icon button" (click)="calendar()">
        <mat-icon>add_circle</mat-icon>
      </button>

      <button mat-icon-button color="accent" aria-label="get icon button" (click)="calendar()">
        <mat-icon>get_app</mat-icon>
      </button>
</geoaudit-sidebar-actions>