<geoaudit-sidebar-header
  title="CONTAINERS.home.calendar.event.title"
></geoaudit-sidebar-header>

<mat-card-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <input
        matInput
        [placeholder]="'CONTAINERS.home.calendar.event.form.title' | translate"
        formControlName="title"
        class="form-control"
      />
    </mat-form-field>

      <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="form.value.allDay"
          formControlName="allDay"
          [disabled]="false"
          (change)="toggleAllDay()"
      >
        {{ 'CONTAINERS.home.calendar.event.form.all_day' | translate }}
      </mat-slide-toggle>

      <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="startDateTimePicker" [placeholder]="'CONTAINERS.home.calendar.event.form.start' | translate" formControlName="start"
           [min]="minDate" [max]="maxDate" [disabled]="disabled">

        <mat-datepicker-toggle matSuffix [for]="startDateTimePicker"></mat-datepicker-toggle>
        
        <ngx-mat-datetime-picker #startDateTimePicker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
           [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
           [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" 
           [disableMinute]="disableMinute" [hideTime]="hideTime">
        </ngx-mat-datetime-picker>
     </mat-form-field>

     <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="endDateTimePicker" [placeholder]="'CONTAINERS.home.calendar.event.form.end' | translate" formControlName="end"
         [min]="minDate" [max]="maxDate" [disabled]="disabled">

      <mat-datepicker-toggle matSuffix [for]="endDateTimePicker"></mat-datepicker-toggle>

      <ngx-mat-datetime-picker #endDateTimePicker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
         [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
         [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" 
         [disableMinute]="disableMinute" [hideTime]="hideTime">
      </ngx-mat-datetime-picker>
   </mat-form-field>

   <mat-form-field class="example-full-width">
    <mat-label>{{ 'CONTAINERS.home.calendar.event.form.notes' | translate }}</mat-label>
    <textarea matInput formControlName="notes"></textarea>
  </mat-form-field>

   <div fxLayout="row-reverse">
    <button
      mat-flat-button
      color="primary"
      (click)="submit()"
      fxFlexFill
      type="submit"
    >
    {{ 'CONTAINERS.home.calendar.event.form.submit' | translate }}
  </button>
  </div>
  </form>
</mat-card-content>

<!-- [ngClass]="{ 'is-invalid': submitted && f.username.errors }" -->
