.statusButton{
    border-radius: 50%;
    padding: 10px;
    height: 60px;
    width: 60px;
    font-size: 60px;
    cursor: pointer;
    margin-bottom: 15px;
}
.limegreen{
    border: 3px solid limegreen;
    color: limegreen;
}
.crimson{
    border: 3px solid crimson;
    color: crimson;
}
