<mat-form-field class="example-chip-list" appearance="outline">
    <mat-label>
      {{ label | translate }}
    </mat-label>
    <mat-chip-list #chipList aria-label="selection">
      <mat-chip
        *ngFor="let item of selectedItems"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(item)"
      >
        {{ item.name }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        [placeholder]="placeholder | translate"
        #itemInput
        [formControl]="itemControl"
        [matAutocomplete]="autoItems"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #autoItems="matAutocomplete"
      (optionSelected)="onSelected($event)"
    >
      <mat-option *ngFor="let item of filteredItems" [value]="item">
        {{ item.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  