.statusButton{
  border-radius: 50%;
  padding: 10px;
  height: 30px;
  width: 30px;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 15px;
}
.limegreen{
  border: 3px solid #8ac926;
  color: #8ac926;
}
.crimson{
  border: 3px solid crimson;
  color: crimson;
}
.buttons-wrapper{
  text-align: center;
  margin-top: 40px;
  padding: 0 26px;
}