<ng-container *ngIf="isRoot">
  <geoaudit-sidebar-header
    title="CONTAINERS.home.calendar.title"
  ></geoaudit-sidebar-header>

  <div fxLayout="row-reverse">
    <button
      mat-flat-button
      color="primary"
      (click)="addCalendarEvent()"
      fxFlexFill
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="calendar-card-container">
    <geoaudit-card-button
      *ngFor="let calendarEvent of calendarEvents | async"
      [title]="calendarEvent.start | date: 'short'"
      [text]="calendarEvent.title"
      icon="category"
      (onClick)="onCalendarEventClick(calendarEvent)"
    ></geoaudit-card-button>
  </div>
</ng-container>

<router-outlet></router-outlet>
