<h1 mat-dialog-title>{{ 'MODALS.navigation_modal.title' | translate }}</h1>
<div mat-dialog-content>
  <p>
    {{
      'MODALS.navigation_modal.navigation_surveys'
        | translate: { length: data.surveys.length }
    }}
  </p>

  <mat-horizontal-stepper (selectionChange)="selectionChange($event)">
    <mat-step
      label="Step 1"
      state="phone"
      [completed]="selectedDestinationType"
      [optional]="false"
    >
      <div>
        <label id="radio-group-label" class="radio-group-label">{{
          'MODALS.navigation_modal.what_destination' | translate
        }}</label>
        <mat-radio-group
          aria-labelledby="radio-group-label"
          class="radio-group"
          [(ngModel)]="selectedDestinationType"
          [color]="color"
        >
          <mat-radio-button
            class="radio-button"
            *ngFor="let destinationType of destinationTypes"
            [value]="destinationType"
            (click)="onDestinationTypeClick(destinationType)"
          >
            {{
              'MODALS.navigation_modal.destinations.' + destinationType
                | translate
            }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <button
          mat-button
          matStepperNext
          type="button"
          [disabled]="!selectedDestinationType"
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step
      label="Step 2"
      state="chat"
      [editable]="false"
      [completed]="isStep2Completed()"
    >
      <ng-container [ngSwitch]="selectedDestinationType">
        <ng-container *ngSwitchCase="'survey'">
          <p class="radio-group-label">
            {{ 'MODALS.navigation_modal.select_survey' | translate }}
          </p>

          <form class="form">
            <mat-form-field class="full-width">
              <mat-label>Survey</mat-label>
              <input
                matInput
                aria-label="Survey"
                [matAutocomplete]="auto"
                [formControl]="surveyCtrl"
                #surveyInput
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
              >
                <mat-option
                  *ngFor="let survey of filteredSurveys"
                  [value]="survey"
                >
                  <span>{{ survey.id_reference }}</span> |
                  <small>ID: {{ survey.id }}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </ng-container>

        <ng-container *ngSwitchCase="'home'">
          <p class="radio-group-label">
            {{ 'MODALS.navigation_modal.home_address' | translate }}
          </p>
          <p>
            {{ 'MODALS.navigation_modal.home.lat_lng' | translate: { lat: home.lat, lng: home.lng } }}
          </p>
        </ng-container>

        <ng-container *ngSwitchCase="'work'">
          <p class="radio-group-label">
            {{ 'MODALS.navigation_modal.work_address' | translate }}
          </p>
          <p>
            {{ 'MODALS.navigation_modal.work.lat_lng' | translate: { lat: work.lat, lng: work.lng } }}
          </p>
        </ng-container>

        <ng-container *ngSwitchCase="'other_address'">
          <p class="radio-group-label">
            {{ 'MODALS.navigation_modal.other_address' | translate }}
          </p>

          <form class="form">
            <mat-form-field class="full-width">
              <mat-label>{{ 'MODALS.navigation_modal.enter_address' | translate }}</mat-label>
              <input matInput type="text" class="form-control" (keydown.enter)="$event.preventDefault()" [placeholder]="'MODALS.navigation_modal.enter_address' | translate" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" [formControl]="searchCtrl" #searchInput>
            </mat-form-field>
          </form>
        </ng-container>
      </ng-container>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 3">
      <div class="mapbox" id="mapbox" class="match-parent"></div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions fxLayoutAlign="space-between">
  <div *ngIf="!url"></div>

  <button
    *ngIf="url"
    mat-flat-button
    color="primary"
    (click)="onYesClick()"
    [disabled]="isSubmitDisabled()"
  >
    {{ 'MODALS.navigation_modal.start' | translate }}
  </button>
  <button mat-flat-button color="accent" (click)="onNoClick()">
    {{ 'MODALS.close' | translate }}
  </button>
</div>
