<div class="modal-header">
  <h1 mat-dialog-title>{{ 'MODALS.navigation_modal.title' | translate }}</h1>
  <button
    mat-icon-button
    color="accent"
    aria-label="Example icon button with a plus one icon"
    (click)="onNoClick()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <p>
    {{
      'MODALS.navigation_modal.navigation_surveys'
        | translate: { length: data.surveys.length }
    }}
  </p>
  <mat-horizontal-stepper #stepper>
    <mat-step
      label="Step 1"
      state="phone"
      [completed]="selectedDestinationType"
      [optional]="false"
    >
      <div>
        <label id="radio-group-label" class="radio-group-label">{{
          'MODALS.navigation_modal.what_destination' | translate
        }}</label>
        <mat-radio-group
          aria-labelledby="radio-group-label"
          class="radio-group"
          [(ngModel)]="selectedDestinationType"
          [color]="color"
        >
          <mat-radio-button
            class="radio-button"
            *ngFor="let destinationType of destinationTypes"
            [value]="destinationType"
            (click)="onDestinationTypeClick(destinationType)"
          >
            {{
              'MODALS.navigation_modal.destinations.' + destinationType
                | translate
            }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-step>
    <mat-step
      label="Step 2"
      state="chat"
      [editable]="false"
      [completed]="isStep2Completed()"
    >
      <ng-container [ngSwitch]="selectedDestinationType">
        <ng-container *ngSwitchCase="'survey'">
          <p class="radio-group-label">
            {{ 'MODALS.navigation_modal.select_survey' | translate }}
          </p>

          <form class="form">
            <mat-form-field class="full-width">
              <mat-label>Survey</mat-label>
              <mat-select
                statusControlName="status"
                name="status"
                [(value)]="selectedSurveyId"
                (selectionChange)="onChangeSelectedSurvey()"
              >
                <mat-option *ngFor="let survey of surveys" [value]="survey.id">
                  <span>{{ survey.reference }}</span> |
                  <small>ID: {{ survey.id }}</small>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </ng-container>

        <ng-container *ngSwitchCase="'home'">
          <p class="radio-group-label">
            {{ 'MODALS.navigation_modal.home_address' | translate }}
          </p>
          <p>
            {{ 'MODALS.navigation_modal.home.lat_lng' | translate: { lat: home?.lat, lng: home?.lng } }}
          </p>
        </ng-container>

        <ng-container *ngSwitchCase="'work'">
          <p class="radio-group-label">
            {{ 'MODALS.navigation_modal.work_address' | translate }}
          </p>
          <p>
            {{ 'MODALS.navigation_modal.work.lat_lng' | translate: { lat: work?.lat, lng: work?.lng } }}
          </p>
        </ng-container>

        <ng-container *ngSwitchCase="'other_address'">
          <p class="radio-group-label">
            {{ 'MODALS.navigation_modal.other_address' | translate }}
          </p>

          <form class="form">
            <mat-form-field class="full-width">
              <mat-label>{{ 'MODALS.navigation_modal.enter_address' | translate }}</mat-label>
              <input matInput type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                [placeholder]="'MODALS.navigation_modal.enter_address' | translate" autocorrect="off"
                autocapitalize="off" spellcheck="off" type="text" [formControl]="searchCtrl" #searchInput>
            </mat-form-field>
          </form>
        </ng-container>
      </ng-container>
    </mat-step>
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>

<div mat-dialog-actions fxLayoutAlign="space-between">
  <button
      mat-flat-button
      color="primary"
      (click)="onBack(stepper)"
      [disabled]="stepper.selectedIndex === 0"
    >Back
  </button>
  <button
    *ngIf="stepper.selectedIndex !== 1"
    mat-flat-button
    color="primary"
    (click)="onNext(stepper)"
    [disabled]="!selectedDestinationType"
  >Next
  </button>
  <button
    *ngIf="stepper.selectedIndex === 1"
    mat-flat-button
    color="primary"
    (click)="onYesClick()"
    [disabled]="!isStep2Completed()"
  >
    {{ 'MODALS.navigation_modal.start' | translate }}
  </button>
</div>
