.match-parent {
  width: 100vh;
  height: 100vh;
}

.radio-group-label {
    font-weight: bolder;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}
