<h1 mat-dialog-title>{{ 'MODALS.navigation_modal.title' | translate }}</h1>
<div mat-dialog-content>
    <p>{{ 'MODALS.navigation_modal.navigation_surveys' | translate: { length: data.surveys.length } }}</p>

    <!-- <div class="mapbox" id="mapbox" class="match-parent"></div> -->

    <div>
        <label id="radio-group-label" class="radio-group-label">{{ 'MODALS.navigation_modal.what_destination' | translate }}</label>
        <mat-radio-group
          aria-labelledby="radio-group-label"
          class="radio-group"
          [(ngModel)]="selectedDestinationType"
          [color]="color">
          <mat-radio-button class="radio-button" *ngFor="let destinationType of destinationTypes" [value]="destinationType">
            {{ 'MODALS.navigation_modal.destinations.'+destinationType | translate }}
          </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
<div mat-dialog-actions fxLayoutAlign="space-between">
    <button mat-flat-button color="primary" (click)="onYesClick()" [disabled]="isSubmitDisabled()">{{ 'MODALS.navigation_modal.confirm' | translate }}</button>
    <button mat-flat-button color="accent" mat-dialog-close>{{ 'MODALS.close' | translate }}</button>
</div>