.modal-header {
  display: flex;
  justify-content: space-between;
}

.match-parent {
  width: 100vh;
  height: 100vh;
}

.radio-group-label {
    font-weight: bolder;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}


.form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .option-img {
  margin-right: 0;
  margin-left: 8px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}