
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import "../../../node_modules/angular-calendar/css/angular-calendar.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$geoaudit-primary: mat-palette($mat-blue);
$geoaudit-accent: mat-palette($mat-grey, A900, A100, A400);

// The warn palette is optional (defaults to red).
$geoaudit-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$geoaudit-theme: mat-light-theme((
  color: (
    primary: $geoaudit-primary,
    accent: $geoaudit-accent,
    warn: $geoaudit-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($geoaudit-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/**
* Overiding angular material styles.
*/
.mat-fab:not([class*="mat-elevation-z"]), .mat-mini-fab:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

/**
* The leaflet controls i.e. zoom in and out. Changing the-index here allows for the dialog and others to appear on-top.
*/
.leaflet-top, .leaflet-bottom {
  z-index: 999;
}

.leaflet-sidebar {
  z-index: 1000 !important;
}

.leaflet-sidebar-content {
  overflow-y:hidden !important;
  // width: 100%; // Remove toggle for sidebar nav which is no good on a mobile until we have a way to toggle the sidebar.
}


//leaflet control css. andrey.

// SideBar Toggle Button on Top Right
.leaflet-sidebar.collapsed
{
  height:40px!important;
}

.leaflet-control-browser-print.leaflet-control a
{
  width: 56px;
  height: 56px;
  border-radius: 50%!important;
  background-color: white;
  border:1px solid #333;
  background-size: 20px 20px!important;
  z-index: 10000;
}

.leaflet-control-browser-print.leaflet-control a:hover, .leaflet-control-locate.leaflet-bar.leaflet-control a:hover ,.leaflet-control-filelayer.leaflet-control-zoom a:hover{
  box-shadow:0px 0px 8px 3px grey;
  cursor: pointer;
}

.leaflet-control-browser-print.leaflet-control
{
  top: 133px;
  left: 4px;
  border:none;
}

//My Location Button's style
.leaflet-control-locate.leaflet-bar.leaflet-control
{
  border: none;
  margin-left: 13px;
}

.leaflet-control-locate.leaflet-bar.leaflet-control a
{
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid black;
}

.leaflet-control-locate.leaflet-bar.leaflet-control a span
{
  font-size: 20px;
  margin-top:18px;
}

//Upload Button's style
.leaflet-control-filelayer.leaflet-control-zoom
{
  border: none;
  margin-left: 13px;
  top:210px;
  position: absolute;
}

.leaflet-control-filelayer.leaflet-control-zoom a
{
  width: 54px;
  height: 54px;
  border-radius: 50%!important;
  border: 1px solid black;
}

.leaflet-control-filelayer.leaflet-control-zoom a span{
  margin-top:15px;
}

//Layer Button style
// .leaflet-control-layers.leaflet-control
// {
//   border: none;
//   left: 13px!important;
//   top:80px!important;
//   right:0px!important;
//   position: absolute;
// }


// Popup Style after Add Marker
.add_marker_popup{
  width:220px;
}

.popup_select{
  width: 180px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

.detail_button_icon{
  float:right;
}

.popup_detail_btn{
  background-color: #270082;
  color: white;
  width: 180px;
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
}

.popup_detail_btn:hover{
  cursor:pointer;
}