<ng-container *ngIf="isRoot">
  <geoaudit-sidebar-header
    title="CONTAINERS.home.jobs.title"
  >
  <apx-chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [dataLabels]="chartOptions.dataLabels"
  [plotOptions]="chartOptions.plotOptions"
  [xaxis]="chartOptions.xaxis"
  [yaxis]="chartOptions.yaxis"
  [stroke]="chartOptions.stroke"
  [fill]="chartOptions.fill"
  [title]="chartOptions.title"
  [tooltip]="chartOptions.tooltip"
  [legend]="chartOptions.legend"
></apx-chart>

</geoaudit-sidebar-header>

  <geoaudit-sidebar-actions>
    <button
    mat-icon-button
    color="accent"
    aria-label="assignement icon button"
    (click)="calendar()"
  >
    <mat-icon>event_available</mat-icon>
  </button>
  
    <button
      mat-icon-button
      [matTooltip]="'CONTAINERS.home.jobs.actions.delete' | translate"
      color="accent"
      aria-label="delete icon button"
      (click)="delete()"
      [disabled]="this.selection.selected.length === 0"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <button
      mat-icon-button
      [matTooltip]="'CONTAINERS.home.jobs.actions.add' | translate"
      color="accent"
      aria-label="add icon button"
      (click)="addJob()"
    >
      <mat-icon>add_circle</mat-icon>
    </button>

    <button
      mat-icon-button
      [matTooltip]="'CONTAINERS.home.jobs.actions.download' | translate"
      color="accent"
      aria-label="get icon button"
      (click)="download()"
    >
      <mat-icon>get_app</mat-icon>
    </button>
  </geoaudit-sidebar-actions>

  <!-- <form [formGroup]="form">
    <mat-form-field>
      <mat-label>{{ 'CONTAINERS.home.jobs.filter' | translate }}</mat-label>
      <input matInput placeholder="'CONTAINERS.home.jobs.filter' | translate" [formControl]="filterCtrl" #input />
    </mat-form-field>
  </form> -->

  <div>
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
            color="primary"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
            color="primary"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONTAINERS.home.jobs.table.reference' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.reference }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONTAINERS.home.jobs.table.name' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONTAINERS.home.jobs.table.status' | translate }}</th>
        <td mat-cell *matCellDef="let row">
          <span [ngSwitch]="row.status.name">
            <mat-icon *ngSwitchCase="'COMPLETED'" [matTooltip]="'STATUSES.COMPLETED' | translate">done</mat-icon>
            <mat-icon *ngSwitchCase="'NOT_STARTED'" [matTooltip]="'STATUSES.NOT_STARTED' | translate">assignment</mat-icon>
            <mat-icon *ngSwitchCase="'ONGOING'" [matTooltip]="'STATUSES.ONGOING' | translate">autorenew</mat-icon>
            <mat-icon *ngSwitchCase="'REFUSED'" [matTooltip]="'STATUSES.REFUSED' | translate">block</mat-icon>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="job_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Type</th>
        <td mat-cell *matCellDef="let row">
          {{ row?.job_type?.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <!-- {{ 'CONTAINERS.home.jobs.table.actions' | translate }} -->
        </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="accent" aria-label="Example icon button with a plus one icon" (click)="details(row.id)">
                <mat-icon>chevron_right</mat-icon>
            </button>
          <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="details(row.id)">
              <mat-icon>details</mat-icon>
              <span>{{ 'CONTAINERS.home.jobs.table.details' | translate }}</span>
            </button>
            <button mat-menu-item (click)="attachments(row.id)">
              <mat-icon>web_asset</mat-icon>
              <span>{{ 'CONTAINERS.home.jobs.table.attachments' | translate }}</span>
            </button>
            <button mat-menu-item (click)="surveys(row.id)">
              <mat-icon>backpack</mat-icon>
              <span>{{ 'CONTAINERS.home.jobs.table.surveys' | translate }}</span>
            </button>
          </mat-menu> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          {{ 'CONTAINERS.home.jobs.table.no_data' }}
        </td>
      </tr>
    </table>

    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = onPageEvent($event)"
      [hidePageSize]="true"
    ></mat-paginator>
  </div>

  <!-- <div class="calendar-card-container">
    <geoaudit-card-button
      *ngFor="let calendarEvent of calendarEvents | async"
      [title]="calendarEvent.start | date: 'short'"
      [text]="calendarEvent.title"
      icon="category"
      (onClick)="onCalendarEventClick(calendarEvent)"
    ></geoaudit-card-button>
  </div> -->
</ng-container>

<router-outlet></router-outlet>
