table {
  width: 100%;
  background-color: transparent;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.progress-chart {
  margin-left: -20px;
  margin-top: -28px!important;    
}

.mat-column-select {
  padding-left: 2px!important;
  text-align: left;
}

.mat-column-reference {
  padding-left: 2px!important;
  text-align: left;
}

.mat-column-name {
  padding-left: 8px!important;
  padding-right: 164px;
}

.mat-column-status {
  text-align: center;
}

.mat-column-job_type {
  text-align: center;
}

.mat-column-actions {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 280px) {
  .mat-column-name {
    padding-left: 2px!important;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .mat-column-name {
    padding-left: 4px!important;
    padding-right: 42px;
  }
}