<mat-form-field class="example-chip-list" appearance="outline">
  <mat-label>
    {{ 'CONTAINERS.home.jobs.job.form.assignees' | translate }}
  </mat-label>
  <mat-chip-list #chipList aria-label="Assignee selection">
    <mat-chip
      *ngFor="let user of selected"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(user)"
    >
      {{ user.username }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      [placeholder]="'CONTAINERS.home.jobs.job.form.new_assignee' | translate"
      #userInput
      [formControl]="userControl"
      [matAutocomplete]="autoUsers"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete
    #autoUsers="matAutocomplete"
    (optionSelected)="onSelected($event)"
  >
    <mat-option *ngFor="let user of filteredUsers" [value]="user">
      {{ user.username }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
