<ng-container *ngIf="isRoot">
  <geoaudit-sidebar-header
    title="CONTAINERS.home.calendar.title"
  ></geoaudit-sidebar-header>

  <h3 fxLayout="row" fxLayoutAlign="space-between">
    {{ viewDate | calendarDate: view + 'ViewTitle':'en' }}
  </h3>

  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between">
    <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle
          value="previous"
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </mat-button-toggle>
        <mat-button-toggle
          value="today"
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </mat-button-toggle>
        <mat-button-toggle
          value="next"
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle
          value="month"
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </mat-button-toggle>
        <mat-button-toggle
          value="week"
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </mat-button-toggle>
        <mat-button-toggle
          value="day"
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <br />

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="calendarEvents"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="onCalendarEventClick($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="calendarEvents"
      [refresh]="refresh"
      (eventClicked)="onCalendarEventClick($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="calendarEvents"
      [refresh]="refresh"
      (eventClicked)="onCalendarEventClick($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <br />

  <div fxLayout="row-reverse">
    <button mat-flat-button fxFlexFill color="primary" (click)="addCalendarEvent()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-container>

<router-outlet></router-outlet>
