/* Hide scrollbar for Chrome, Safari and Opera */
.calendar-card-container::-webkit-scrollbar {
    display: none;
  }

.calendar-card-container {
    overflow-y:scroll; 
    height: 100vh;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.calendar-event-item span {
  // padding: 15px;
}