table {
  width: 100%;
  background-color: transparent;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-select {
  padding-left: 2px!important;
  text-align: left;
}

.mat-column-name {
  padding-left: 8px!important;
  padding-right: 164px;
}

.mat-column-status {
  text-align: center;
}

.mat-column-actions {
  width: 32px;
  text-align: center;
  font-weight: bold;
}