<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>

    <div id="sidebar" class="leaflet-sidebar collapsed">
      <!-- Nav tabs -->
      <div class="leaflet-sidebar-tabs">
        <ul role="tablist">
          <!-- top aligned tabs -->
          <li>
            <a href="#home" role="tab">
              <fa-icon [icon]="faBars"></fa-icon>
            </a>
          </li>
          <!-- <li>
              <a href="#messages" role="tab">
                  <fa-icon [icon]="faListOl"></fa-icon>
              </a>
            </li>
            <li>
              <a href="#profile" role="tab">
                  <fa-icon [icon]="faBriefcase"></fa-icon
              ></a>
            </li>
            <li>
              <a href="#messages" role="tab">
                  <fa-icon [icon]="faChartPie"></fa-icon>
              </a>
            </li>
            <li>
              <a href="#messages" role="tab">
                  <fa-icon [icon]="faHistory"></fa-icon>
              </a>
            </li>
            <li>
              <a href="#messages" role="tab">
                  <fa-icon [icon]="faThumbsUp"></fa-icon>
              </a>
            </li> -->
        </ul>

        <ul role="tablist">
          <!-- bottom aligned tabs -->
          <!-- <li>
              <a href="#settings" role="tab">
                  <fa-icon [icon]="faCalendar"></fa-icon>
              </a>
            </li>
            <li>
              <a href="#settings" role="tab">
                  <fa-icon [icon]="faBell"></fa-icon>
              </a>
            </li>
            <li>
              <a href="#settings" role="tab">
                  <fa-icon [icon]="faUser"></fa-icon>
              </a>
            </li>
            <li>
              <a href="#settings" role="tab">
                  <fa-icon [icon]="faCog"></fa-icon>
              </a>
            </li> -->
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="leaflet-sidebar-content">
        <div class="leaflet-sidebar-pane" id="home">
          <h1 class="leaflet-sidebar-header">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <a routerLink="/home" class="leaflet-sidebar-header-a">
                <!-- <fa-icon routerLink="/home" [icon]="faHome"></fa-icon> -->
                {{ 'CONTAINERS.home.geoaudit' | translate }}
              </a>

              <div>
                <button mat-icon-button color="accent" aria-label="search icon button" (click)="search()">
                  <mat-icon>search</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="search icon button" (click)="calendar()">
                  <mat-icon>date_range</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="search icon button" (click)="notifications()">
                  <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="search icon button" (click)="profile()">
                  <mat-icon>person</mat-icon>
                </button>
              </div>
            </div>
            <!-- <div class="leaflet-sidebar-close">
            </div> -->
          </h1>

          <div class="leaflet-sidebar-router-outlet">
            <router-outlet></router-outlet>

            <ng-container *ngIf="isRoot">
              <geoaudit-card-button title="CONTAINERS.home.buttons.to_do_list.title" text="CONTAINERS.home.buttons.to_do_list.text" icon="list" (onClick)="toDoList()"></geoaudit-card-button>

              <geoaudit-card-button title="CONTAINERS.home.buttons.jobs.title" text="CONTAINERS.home.buttons.to_do_list.text" icon="work" (onClick)="jobs()"></geoaudit-card-button>
  
              <geoaudit-card-button title="CONTAINERS.home.buttons.surveys.title" text="CONTAINERS.home.buttons.to_do_list.text" icon="history" (onClick)="recentSurveys()"></geoaudit-card-button>
  
              <geoaudit-card-button title="CONTAINERS.home.buttons.approvals.title" text="CONTAINERS.home.buttons.approvals.title" icon="thumb_up" (onClick)="approve()"></geoaudit-card-button>
            </ng-container>
          </div>
        </div>

        <!-- <div class="leaflet-sidebar-pane" id="messages">
          <h1 class="leaflet-sidebar-header">
            Messages
            <div class="leaflet-sidebar-close">
              <fa-icon [icon]="faCaretLeft"></fa-icon>
            </div>
          </h1>
        </div>

        <div class="leaflet-sidebar-pane" id="profile">
          <h1 class="leaflet-sidebar-header">
            Profile
            <div class="leaflet-sidebar-close">
              <fa-icon [icon]="faCaretLeft"></fa-icon>
            </div>
          </h1>
        </div> -->
      </div>
    </div>
  </div>
</div>
