<geoaudit-sidebar-header
  title="CONTAINERS.home.testposts.tp_action.title"
  [placeholder]=""
>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'CONTAINERS.home.jobs.job.status' | translate }}</mat-label>
    <mat-select
      statusControlName="status"
      name="status"
      [(value)]="currentState"
    >
      <mat-option *ngFor="let status of statuses" [value]="status.id">
        {{ 'STATUSES.' + status.name | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</geoaudit-sidebar-header>

<mat-tab-group
  mat-align-tabs="start"
  (selectedIndexChange)="selectedIndexChange($event)"
  [(selectedIndex)]="selectedTabIndex"
  class="tab-body-height"
>
  <!-- Details -->
  <mat-tab [label]="'CONTAINERS.home.jobs.job.steps.details' | translate">
    <mat-card-content class="mt-26">
      <form fxLayout="column" [formGroup]="form" (ngSubmit)="submit()">
        <!--Testpost Action-->
        <div fxLayout="column">
          <mat-card
            style="cursor: pointer; margin-bottom: 20px; padding: 8px;"
            fxLayout="row"
            fxLayoutAlign="space-between"
            (click)="searchTestpost()"
          >
            <div class="item-title">
              {{ getTestpostTitle() }}
            </div>
            <div fxLayout="row">
              <button
                mat-icon-button
                color="accent"
                aria-label="Example icon button with a plus one icon"
                (click)="searchTestpost()"
              >
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>{{
              'CONTAINERS.home.testposts.tp_action.date' | translate
            }}</mat-label>
            <input
              matInput
              [placeholder]="
                'CONTAINERS.home.testposts.tp_action.date' | translate
              "
              formControlName="date"
              class="form-control"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{
              'CONTAINERS.home.testposts.tp_action.condition' | translate
            }}</mat-label>
            <input
              matInput
              [placeholder]="
                'CONTAINERS.home.testposts.tp_action.condition' | translate
              "
              formControlName="condition"
              class="form-control"
            />
          </mat-form-field>
        </div>

        <div *ngIf="tp_action && tp_action.testpost!=null">
          <!--Reading-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{
                'CONTAINERS.home.testposts.tp_action.reading' | translate
              }}</mat-panel-title>
            </mat-expansion-panel-header>
            <!--Pipe-->
            <div>
              <h3>
                {{ 'CONTAINERS.home.testposts.tp_action.pipe_title' | translate }}
              </h3>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" class="fx-col-6">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.pipe_on' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.pipe_on' | translate
                    "
                    type="number"
                    formControlName="pipe_on"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-6">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.pipe_off' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.pipe_off' | translate
                    "
                    type="number"
                    formControlName="pipe_off"
                    class="form-control"
                  />
                </mat-form-field>
              </div>
            </div>
            <!--Anodes-->
            <div>
              <h3>{{'CONTAINERS.home.testposts.tp_action.anodes_title' | translate}}
              </h3>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" class="fx-col-4">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.anodes_on' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.anodes_on' | translate
                    "
                    type="number"
                    formControlName="anodes_on"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-4">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.anodes_off' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.anodes_off' | translate
                    "
                    type="number"
                    formControlName="anodes_off"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-4">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.anodes_current' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.anodes_current'
                        | translate
                    "
                    type="number"
                    formControlName="anodes_current"
                    class="form-control"
                  />
                </mat-form-field>
              </div>
              <div class="tp-bottom">
                <button
                  mat-icon-button
                  color="accent"
                  aria-label="add icon button"
                  inline="true"
                >
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
            <!--Dead-->
            <div>
              <h3>{{ 'CONTAINERS.home.testposts.tp_action.dead_title' | translate }}</h3>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" class="fx-col-4">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.dead_on' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.dead_on' | translate
                    "
                    type="number"
                    formControlName="dead_on"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-4">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.dead_off' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.dead_off' | translate
                    "
                    type="number"
                    formControlName="dead_off"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-4">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.dead_current' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.dead_current' | translate
                    "
                    type="number"
                    formControlName="dead_current"
                    class="form-control"
                  />
                </mat-form-field>
              </div>
              <div class="tp-bottom">
                <button
                  mat-icon-button
                  color="accent"
                  aria-label="add icon button"
                  inline="true"
                >
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
            <!--Sleeve-->
            <div>
              <h3>{{'CONTAINERS.home.testposts.tp_action.sleeve_title' | translate}}</h3>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" class="fx-col-4">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.sleeve_on' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.sleeve_on' | translate
                    "
                    type="number"
                    formControlName="sleeve_on"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-4">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.sleeve_off' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.sleeve_off' | translate
                    "
                    type="number"
                    formControlName="sleeve_off"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-4">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.sleeve_current' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.sleeve_current'
                        | translate
                    "
                    formControlName="sleeve_current"
                    class="form-control"
                  />
                </mat-form-field>
              </div>
              <div class="tp-bottom">
                <button
                  mat-icon-button
                  color="accent"
                  aria-label="add icon button"
                  inline="true"
                >
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
            <!--Coupon-->
            <h3>{{'CONTAINERS.home.testposts.tp_action.coupon.title' | translate}}</h3>
            <div>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" class="fx-col-6">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.coupon.on' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.coupon.on' | translate
                    "
                    type="number"
                    formControlName="coupon_on"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-6">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.coupon.off' | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.coupon.off' | translate
                    "
                    type="number"
                    formControlName="coupon_off"
                    class="form-control"
                  />
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" class="fx-col-6">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.coupon.current_ac'
                      | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.coupon.current_ac'
                        | translate
                    "
                    type="number"
                    formControlName="coupon_current_ac"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-6">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.coupon.current_dc'
                      | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.coupon.current_dc'
                        | translate
                    "
                    type="number"
                    formControlName="coupon_current_dc"
                    class="form-control"
                  />
                </mat-form-field>
              </div>
              <div class="tp-bottom">
                <button
                  mat-icon-button
                  color="accent"
                  aria-label="add icon button"
                  inline="true"
                >
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>

            <!--Others-->
            <h3>{{'CONTAINERS.home.testposts.tp_action.others.title' | translate}}</h3>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <mat-form-field appearance="outline" class="fx-col-6">
                <mat-label>{{
                  'CONTAINERS.home.testposts.tp_action.others.reedswitch'
                    | translate
                }}</mat-label>
                <input
                  matInput
                  [placeholder]="
                    'CONTAINERS.home.testposts.tp_action.others.reedswitch'
                      | translate
                  "
                  type="number"
                  formControlName="others_reedswitch"
                  class="form-control"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="fx-col-6">
                <mat-label>{{
                  'CONTAINERS.home.testposts.tp_action.others.refcell' | translate
                }}</mat-label>
                <input
                  matInput
                  [placeholder]="
                    'CONTAINERS.home.testposts.tp_action.others.refcell'
                      | translate
                  "
                  formControlName="others_refcell"
                  class="form-control"
                />
              </mat-form-field>
            </div>
          </mat-expansion-panel>

          <!--Current Drain-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{
                'CONTAINERS.home.testposts.tp_action.current_drain.title' | translate
              }}</mat-panel-title>
            </mat-expansion-panel-header>
            <h3>{{'CONTAINERS.home.testposts.tp_action.current_drain.title'| translate}}</h3>
            <div>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" class="fx-col-6">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.current_drain.input_v'
                      | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.current_drain.input_v'
                        | translate
                    "
                    type="number"
                    formControlName="cd_input_v"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-6">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.current_drain.input_a'
                      | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.current_drain.input_a'
                        | translate
                    "
                    type="number"
                    formControlName="cd_input_a"
                    class="form-control"
                  />
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" class="fx-col-6">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.current_drain.output_v'
                      | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.current_drain.output_v'
                        | translate
                    "
                    type="number"
                    formControlName="cd_output_v"
                    class="form-control"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="fx-col-6">
                  <mat-label>{{
                    'CONTAINERS.home.testposts.tp_action.current_drain.output_a'
                      | translate
                  }}</mat-label>
                  <input
                    matInput
                    [placeholder]="
                      'CONTAINERS.home.testposts.tp_action.current_drain.output_a'
                        | translate
                    "
                    type="number"
                    formControlName="cd_output_a"
                    class="form-control"
                  />
                </mat-form-field>
              </div>
              <div class="tp-bottom">
                <button
                  mat-icon-button
                  color="accent"
                  aria-label="add icon button"
                  inline="true"
                >
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </mat-expansion-panel>

          <!--Asset Information-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{
                'CONTAINERS.home.testposts.tp_action.asset.title' | translate
              }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column">
              <mat-form-field appearance="outline">
                <mat-label>{{
                  'CONTAINERS.home.testposts.tp_action.asset.pipe_depth' | translate
                }}</mat-label>
                <input
                  matInput
                  [placeholder]="
                    'CONTAINERS.home.testposts.tp_action.asset.pipe_depth' | translate
                  "
                  type="number"
                  formControlName="asset_pipe_depth"
                  class="form-control"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>{{
                  'CONTAINERS.home.testposts.tp_action.asset.reinstatement'
                    | translate
                }}</mat-label>
                <input
                  matInput
                  [placeholder]="
                    'CONTAINERS.home.testposts.tp_action.asset.reinstatement'
                      | translate
                  "
                  formControlName="asset_reinstatement"
                  class="form-control"
                />
              </mat-form-field>
            </div>
          </mat-expansion-panel>

          <!--Fault Details-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{
                'CONTAINERS.home.testposts.tp_action.fault.title' | translate
              }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <div formArrayName="faults">
                <div *ngFor="let fault of faults.controls; index as i" [formGroupName]="i" fxLayout="column">
                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      'CONTAINERS.home.testposts.tp_action.fault.type' | translate
                    }}</mat-label>
                    <input
                      matInput
                      [placeholder]="
                        'CONTAINERS.home.testposts.tp_action.fault.type' | translate
                      "
                      formControlName="type"
                      class="form-control"
                    />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      'CONTAINERS.home.notes.description' | translate
                    }}</mat-label>
                    <textarea 
                      matInput
                      formControlName="desc">
                    </textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="tp-bottom">
                <button
                  mat-icon-button
                  color="accent"
                  aria-label="add icon button"
                  inline="true"
                  (click)="addFaults()"
                >
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </form>
    </mat-card-content>
  </mat-tab>

  <!-- Attachments -->
  <mat-tab [label]="'CONTAINERS.home.jobs.job.steps.attachments' | translate">
    <mat-card-content>
      <!-- <attachment-file-upload
        label="CONTAINERS.home.jobs.job.attachments.images"
        (preview)="onItemPreview($event)"
        (upload)="onImageUpload($event)"
        fileType="IMAGE"
        [items] = "attachedImages"
        [multiple]="true"
      ></attachment-file-upload>

      <attachment-file-upload
        label="CONTAINERS.home.jobs.job.attachments.documents"
        (preview)="onItemPreview($event)"
        (upload)="onDocumentUpload($event)"
        fileType="DOCUMENT"
        [items] = "Documents"
        [multiple]="true"
      ></attachment-file-upload> -->
    </mat-card-content>
  </mat-tab>

  <!-- Notes -->
  <mat-tab [label]="'CONTAINERS.home.jobs.job.steps.notes' | translate">
    <mat-card-content>
      <geoaudit-notes></geoaudit-notes>
    </mat-card-content>
  </mat-tab>
</mat-tab-group>

<div fxLayout="row-reverse" class="approve-wrapper">
  <geoaudit-status-buttons
    [completed]="false"
    [approved]="false"
    (completeEvent)="updateMarkState($event)"
  ></geoaudit-status-buttons>
</div>

<div fxLayout="row-reverse" fxLayoutAlign="space-between" class="button-area">
  <div class="button-wrapper">
    <button
      *ngIf="selectedTabIndex != 3"
      mat-icon-button
      color="accent"
      (click)="selectedIndexChange(selectedTabIndex + 1)"
      class="btn-arrow"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <button
    mat-flat-button
    color="primary"
    (click)="submit()"
    type="submit"
    class="btn-submit"
  >
    {{ 'CONTAINERS.home.jobs.job.form.save' | translate }}
  </button>
  <div class="button-wrapper">
    <button
      *ngIf="selectedTabIndex != 0"
      mat-icon-button
      color="accent"
      (click)="selectedIndexChange(selectedTabIndex - 1)"
      class="btn-arrow"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
</div>
