<mat-form-field appearance="outline">
    <mat-label>{{ label | translate }}</mat-label>
    <input
      #itemInput
      [placeholder]="placeholder | translate"
      matInput
      [formControl]="itemControl"
      [matAutocomplete]="autoItems"
    />
    <mat-autocomplete autoActiveFirstOption #autoItems="matAutocomplete" (optionSelected)="onSelected($event)">
      <mat-option *ngFor="let item of filteredItems" [value]="item">
        {{ item[attribute] }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>